<div class="jumbotron">
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Store Management</h2>
        <p>A retail manager is the person ultimately responsible for the day-to-day operations of a retail store. All employees working in the store report to the retail/store manager. A store manager reports to a district/area or general manager</p>

    </div>
    <div class="col-md-4">
        <h2>Store Management</h2>
        <p>Store management refers to the efficient management of materials. Store management is concerned with ensuring that all the activities involved in storekeeping are carried out efficiently and economically by those employed in the store. Stores form the basis of material management</p>

    </div>
    <div class="col-md-4">
      
    </div>
</div>
