
@{
    ViewBag.Title = "invalid";
}

<div class="container">
    <div class="col-md-12">
        <h1> Invalid User Name or Password </h1>
        <a href="@Url.Action("AdminLogin","Admin")">Back to Login </a>
    </div>
</div>

